{% extends "/html/base.html" %}
{% block content %}
<div id="dp">
    <img src="/img/menew.png" alt="Profile picture">
</div>
<div id="addressbook">
    <h4><i class="fa fa-pencil-square-o"></i> <a
                                                  href="mailto:nandaja.varma@gmail.com"
                                                  alt="Email ID">Get in touch</a></h4>
    <h4><i class="fa fa-github-alt"></i><a
                                            href="https://github.com/nandajavarma"
                                            alt="Github profile"> nandajavarma</a></h4>
    <h4><i class="fa fa-twitter"></i><a href="https://twitter.com/nandajavarma"
                                        alt="Twitter Profile"> nandajavarma</a></h4>
    <h4><i class="fa fa-gitlab"></i><a href="https://gitlab.com/gem" alt="Gitlab
                                             profile"> gem</a></h4>
    <h4><i class="fa fa-hashtag"></i><a href="" target="_blank" alt="IRC nickname"> IRC nick: gem</a></h4>
</div>
<div id="addressbook">
    <h3><i class="fa fa-black-tie"></i><a href="/pages-output/resume/index.html" alt="Resume"> Hire Me</a></h3>
</div>

<div id="page-header">
    <h1>About me</h1>
</div>


I am an avid coder and a free software enthusiast. I started hacking in
early 2013 on Natural Language Processing utilities as a member of the language computing
community <a href="smc.org.in" alt="SMC home page">Swathanthra Malayalam Computing(SMC)</a>. My current major open source
contribution is for the <a href="https://pearsproject.org/" alt="Pears project homepage">PeARS Project</a> - which is an ongoing effort to build
a fully distributed, p2p search engine. I am a proud <a
                                                         href="https://www.recurse.com/"
                                                     alt="Recurse center homepage">Recurse
    center</a> alum which I consider was the most educational and humbling
experience of my life.

<br/>
<br/>
<br/>

Originally from Kerala, I currently live in Milan, Italy. I
work as a Kubernetes Engineer at <a
    href="https://sighup.io">SIGHUP</a>. I help build the Open Source Kubernetes
distribution called <a href="https://kubernetesfury.com">Kubernetes Fury</a>. I used to lead the tech
team at a growing startup called <a href="https://quickalgorithm.com" alt="Quick
                                          Algorithm homepage">Quick
    Algorithm</a>. Other tech interests of mine
include distributed systems, programming languages and compilers. I feel home
coding in Bash, Python, and Clojure.

{% endblock %}
