{% extends "/html/base.html" %}
{%block subtitle %}: Resume{% endblock %}
{% block content %}
<div id="dp">
    <img src="/img/menew.png" alt="Profile picture">
</div>
<div id="addressbook">
    <h4><i class="fa fa-pencil-square-o"></i> <a
                                                  href="mailto:nandaja.varma@gmail.com"
                                                  alt="Email ID">Get in touch</a></h4>
    <h4><i class="fa fa-github-alt"></i><a
                                            href="https://github.com/nandajavarma"
                                            alt="Github profile"> nandajavarma</a></h4>
    <h4><i class="fa fa-twitter"></i><a href="https://twitter.com/nandajavarma"
                                        alt="Twitter Profile"> nandajavarma</a></h4>
    <h4><i class="fa fa-gitlab"></i><a href="https://gitlab.com/gem" alt="Gitlab
                                             profile"> gem</a></h4>
    <h4><i class="fa fa-hashtag"></i><a href="" target="_blank" alt="IRC nickname"> IRC nick: gem</a></h4>
</div>
<div id="addressbook">
    <h3><i class="fa fa-file-pdf-o"></i><a href="/doc/resume.pdf" alt="Download Resume" target="_blank"> Resume</a></h3>
</div>

<div id="page-header">
    <!-- <i class="fa fa-star" aria-hidden="true">  -->
    <h2>Overview</h2>
</div>
<div id="page-header">
    <!-- <i class="fa fa-laptop" aria-hidden="true">  -->
    <h2>Work Experience</h2>
</div>
<h3><img class="head-logo" src="/img/qa.png"/> Quick Algorithm Srl, Milan</h3>
<span><h5>April, 2018 - Present</h5></span>
    <h4 class="expandContent">Tech Lead <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
    <div class="showMe" style="display:none; padding: 5px;">
        <h4>
            <ol>Designed and managed the infrastructure for data processing and visualisation</ol>
            <ol>Managed the dev team and led a crucial part in product design</ol>
            <ol>Main technologies used:
                <ul>Cloud infra: Google Cloud, Amazon Web Services</ul>
                <ul>Platform Engg: Kubernetes, Terraform, Ansible, Docker</ul>
                <ul>Software dev: Python Flask, ReactJS, Bash, Gitlab CI/CD</ul>
                <ul>Database systems: Postgresql, MonogDB, Redis, various object stores</ul>
                <ul>Data processing and brokering: Apache Kafka, Elastic Search, Apache Flink</ul>
            </ol>
        </h4>
    </div>
    <h3><img class="img-logo" src="/img/Redhat.jpg"/> RedHat Inc., Bangalore </h3>
    <span><h5>January 2015 - June 2016</h5></span>
    <h4 class="expandContent">Software Engineer <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
    <div class="showMe" style="display:none; padding: 5px;">
        <h4>
            <ol>Contributed to the development and maintenance of an open source distributed file system</ol>
            <ol>As a part of the cloud infra team, developed solutions to automate deployment processes</ol>
            <ol>Worked in collaboration with various open source teams across the company</ol>
            <ol>Major technologies used:
                <ul>Software dev: C, Python</ul>
                <ul>Provisioning tools: Ansible, Chef</ul>
                <ul>Linux Distros: RHEL, CentOS, Fedore</ul>
            </ol>
        </h4>
    </div>
<h3><img class="img-logo" src="/img/btt.png"/> Bang The Table Inc. </h3>
<span><h5>April 2014 - December 2014</h5></span>
     <h4 class="expandContent">Full-Stack Engineer <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4>
     <div class="showMe" style="display:none; padding: 5px;">
        <h4>
            <ol>Worked on the development of a community engagement platform for the Australian an New Zealand Government</ol>
            <ol>Worked on the DevOps team to automate the deployment of the SaaS product</ol>
            <ol>Organized several meetups and community events at the workspace</ol>
            <ol>Major technologies used:
                <ul>Software dev: Ruby on Rails, Bash, Python</ul>
                <ul>Reverse proxies and WSGI: Nginx, Gunicorn</ul>
            </ol>
        </h4>
     </div>
<div id="page-header">
    <!-- <i class="fa fa-trophy" aria-hidden="true">  -->
    <h2>Awards and Achievements</h2>
</div>
<h3><img class="img-logo" src="/img/RC.png"/> Recurse Center, New York City</h3>
<h5>Spring 2017</h5>
<!-- <h4 class="expandContent">More <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> -->
<div class="showMe" style="display:none; padding: 5px;">
    <h4>
        <ul>A 12 week self-study programme.</ul>
        <ul>Studied Kernel development, compiler programming and networking.</ul>
        <ul>Organized Algorithms and Data Structures study group and MC'd numerous
            social evenets</ul>
    </h4>
</div>
<h3><img class="img-logo" src="/img/UC.png"/> University of Cambridge Sponsorship</h3>
<h5>2016</h5>
<!-- <h4 class="expandContent">More <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> -->
<div class="showMe" style="display:none; padding: 5px;">
    <h4>
        <ul>Received sponsorship for the Open Source project PeARSearch</ul>
        <ul>Was invited to work from the Universtiy and present in a conference on Language Computing</ul>
    </h4>
</div>
<h3><img class="img-logo" src="/img/Google.png"/> Google Women Techmaker India</h3>
<h5>2014</h5>
<!-- <h4 class="expandContent">More <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> -->
<div class="showMe" style="display:none; padding: 5px;">
    <h4>
        <ul>Got the oppurtunity to attend mentoring programme provided by Google on personal development</ul>
    </h4>
</div>
<h3><img class="img-logo" src="/img/Redhat.jpg"/> RedHat Scholarship</h3>
<h5>2013</h5>
<!-- <h4 class="expandContent">More <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> -->
<div class="showMe" style="display:none; padding: 5px;">
    <h4>
        <ul>Attended sponsored lectures for RDCSA certification exams at RedHat Office</ul>
    </h4>
</div>
<h3><img class="img-logo" src="/img/Google.png"/> Google Summer of Code</h3>
<h5>2013</h5>
<!-- <h4 class="expandContent">More <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> -->
<div class="showMe" style="display:none; padding: 5px;">
    <h4>
        <ul>Worked for 3 months on a NLP project</ul>
        <ul>Got the oppurtunity to work alongside the mentors of SMC community</ul>
    </h4>
</div>
<h3><img class="img-logo" src="/img/linux.png"/> Linux Foundation Training Scholarship </h3>
<h5>2013</h5>
<!-- <h4 class="expandContent">More <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></h4> -->
<div class="showMe" style="display:none; padding: 5px;">
    <h4>
        <ul>Was one among the 5 people who were awarded the honour</ul>
        <ul>Won under the title of Whiz-kid</ul>
        <ul>Attended sponsored sysadmin lectures by Linux Foundation</ul>
    </h4>
</div>
<div id="page-header">
    <!-- <img class="head-logo" src="/img/os.png"/>  -->
    <h2>Open Source Contributions</h2>
</div>
<div>
<h3><img class="img-logo" src="/img/pears.png"/> PeARS Project</h3>
</div>
<div>
<h3><img class="img-logo" src="/img/debian.png"/> Debian Packaging</h3>
</div>
<div>
<h3><img class="img-logo" src="/img/gluster.png"/> GlusterFS</h3>
</div>
<div>
<h3><img class="img-logo" src="/img/smc.png"/> Automated Rendering Testing</h3>
</div>
<div>
<h3><img class="img-logo" src="/img/firefox.png"/> Mozilla Firefox Malayalam Localization</h3>
</div>
<div>
<div id="page-header">
</div>
    <!-- <i class="fa fa-graduation-cap" aria-hidden="true">  -->
    <h2>Education</h2>
</div>

<h3><img class="img-logo" src="/img/polimi.jpg"/> Politecnico Di Milano, Milan, Italy</h3>
<h4>
    <ul>Masters in Computer Science and Engineering '20</ul>
</h4>
<h3><img class="img-logo" src="/img/unical.png"/> University of Calicut, Kerala, India</h3>
<h4>
    <ul>Bachelers in Technology - Computer Science and Engineering '14</ul>
</h4>
{% endblock %}
