{% extends "/html/base.html" %}
{%block subtitle %}: Resume{% endblock %}
{% block content %}
<div id="dp">
    <img src="/img/menew.png" alt="Profile picture">
</div>
<div id="addressbook">
    <h4><i class="fa fa-pencil-square-o"></i> <a
                                                  href="mailto:nandaja.varma@gmail.com"
                                                  alt="Email ID">Get in touch</a></h4>
    <h4><i class="fa fa-github-alt"></i><a
                                            href="https://github.com/nandajavarma"
                                            alt="Github profile"> nandajavarma</a></h4>
    <h4><i class="fa fa-twitter"></i><a href="https://twitter.com/nandajavarma"
                                        alt="Twitter Profile"> nandajavarma</a></h4>
    <h4><i class="fa fa-gitlab"></i><a href="https://gitlab.com/gem" alt="Gitlab
                                             profile"> gem</a></h4>
    <h4><i class="fa fa-hashtag"></i><a href="" target="_blank" alt="IRC nickname"> IRC nick: gem</a></h4>
</div>
<div id="addressbook">
    <h3><i class="fa fa-file-pdf-o"></i><a href="/doc/resume.pdf" alt="Download Resume" target="_blank"> Resume</a></h3>
</div>

<div id="page-header">
    <h1>About me</h1>
</div>
{% endblock %}
